<form [formGroup]="bookingForm">
  <mat-form-field class="full">
    <input #start matInput 
           placeholder="Départ" 
           value="" 
           autocomplete="off" 
           formControlName="start" 
           [matAutocomplete]="autoStart"
           (keyup)="onStartKey(start.value)"
           >
    <mat-autocomplete #autoStart="matAutocomplete">
      <mat-option *ngFor="let option of startOptions" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <br/>
  <mat-form-field class="full">
    <input #finish matInput 
           placeholder="Arrivée" 
           value="" 
           autocomplete="off" 
           formControlName="finish"
           [matAutocomplete]="autoFinish"
           (keyup)="onFinishKey(finish.value)"
           >
    <mat-autocomplete #autoFinish="matAutocomplete">
      <mat-option *ngFor="let option of finishOptions" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>